# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# OSX specific files
.DS_Store

.idea/

/local.properties

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
